# Xcode
.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# CocoaPods
Pods/
*.xcworkspace
!MediaPipeLandmarksApp/MediaPipeLandmarksApp.xcworkspace/contents.xcworkspacedata

# Build
*.a
*.xcframework/*

